@{
    ViewData["Title"] = "Конфіденційність";
}
<style>
    body {
        background-color: #D3E4CD;
    }
</style>
<a asp-action="Index" asp-controller="Home" class="btn btn-success">&larr; Повернутися на головну сторінку</a>
<h1>@ViewData["Title"]</h1>

<p>Конфіденційнсть в BookLand.</p>
