@model UI_Web.Models.Admin.ChangePasswordViewModel;
@{
    ViewBag.Title = "Изменение пароля";
}
<style>
    body {
        background-color: #D3E4CD;
    }
</style>
<a asp-action="IndexAccount" asp-controller="Admin" class="btn btn-success">&larr; Назад</a>
<h2>Зміна пароля для користувача @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="Admin">
    <div asp-validation-summary="All" hidden></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старий пароль:</label>
        <ol>
            Умови:
            <li>
                обов'язково ввести
            </li>
            <li>
                довжина: 6 - 20 символів
            </li>
            <li>
                тільки великі та малі латинські літери, цифри
            </li>
        </ol>
        <input type="text" asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новий пароль:</label>
        <ol>
            Умови:
            <li>
                обов'язково ввести
            </li>
            <li>
                довжина: 6 - 20 символів
            </li>
            <li>
                тільки великі та малі латинські літери, цифри
            </li>
        </ol>
        <input type="text" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-success" />
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}