@using UI_Web.Models.Admin;
@model HomeIndexBookViewModel;
@{
    ViewData["Title"] = "Адмін - головна сторінка";
}
<style>
    body {
        background-color: #D3E4CD;
    }

    .product-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>
@if (Model.Books.Count > 0)
{
    <div style="display:flex;flex-direction:row;justify-content:center;">
        <form method="get" asp-action="FilterByNew" asp-controller="Admin">
            <input type="submit" class="btn btn-success position-relative" style="margin: 10px;" value="Фільтрувати за новими книгами" />
        </form>
        <form method="get" asp-action="FilterByAlphabet" asp-controller="Admin">
            <input type="submit" class="btn btn-success position-relative" style="margin: 10px;" value="Фільтрувати за алфавітом" />
        </form>
        <form method="get" asp-action="FilterByPriceLow" asp-controller="Admin">
            <input type="submit" class="btn btn-success position-relative" style="margin: 10px;" value="Від дешевих до дорогих" />
        </form>
        <form method="get" asp-action="FilterByPriceHigh" asp-controller="Admin">
            <input type="submit" class="btn btn-success position-relative" style="margin: 10px;" value="Від дорогих до дешевих" />
        </form>
    </div>
    if (Model.SrchWrd != null && Model.SrchWrd != "")
    {

        <h5>Знайдені книги за заданим пошуковим словом: <u>@Model.SrchWrd</u></h5>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-success">&larr; На головну</a>
        <div class="product-list">
            @foreach (var product in Model.Books)
            {
                @await Html.PartialAsync("DetailsBook", product)
            }
        </div>
    }
    else
    {
        <h5><u>Всі книги:</u></h5>
        <div class="product-list">
            @{
                var books = Model.Books;
                ;
            }
            @foreach (var product in Model.Books)
            {
                @await Html.PartialAsync("DetailsBook", product)
            }
        </div>
    }
}
else
{
    @if (Model.SrchWrd == "Empty")
    {
        <h5><u>На даний момент, на жаль, книги в магазині відсутні!!!</u></h5>
    }
    else
    {
        <h5>Знайдені книги за заданим пошуковим словом: <u>@Model.SrchWrd</u> відсутні</h5>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-success">&larr; На головну</a>
    }
}




