@using UI_Web.Models.Admin;
@model HomeIndexOrderViewModel;
@{
    ViewData["Title"] = "Адмін - всі замовлення";
    Model.Orders.Reverse();
}
<style>
    body {
        background-color: #D3E4CD;
    }
    .product-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>
<a asp-action="Index" asp-controller="Admin" class="btn btn-success">&larr; Повернутися на головну сторінку</a>
<div class="product-list">
    @foreach (var product in Model.Orders)
    {
        @await Html.PartialAsync("DetailsOrder", product)
    }
</div>
