@model UI_Web.Models.Admin.MyErrorViewModel;
<style>
    body {
        background-color: #D3E4CD;
    }
</style>
<h2 style="margin: 5px;">@Model.Message</h2>
<a asp-action="Index" asp-controller="Admin" class="btn btn-success">&larr; На головну сторінку</a>